
<div class="row">
  <div class="col-md-8">
      <form #f="ngForm" (ngSubmit)="save(f.value)" style="width: 750px;">


        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="rice">Rice</label>
            <div class="col-xs-10">
                <input #name="ngModel" [(ngModel)]="menu.rice" name="rice" id="rice" type="text" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="curry1">curry1</label>
            <div class="col-xs-10">
                <input #name="ngModel" [(ngModel)]="menu.curry1" name="curry1" id="curry1" type="text" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="curry2">curry2</label>
            <div class="col-xs-10">
                <input #name="ngModel" [(ngModel)]="menu.curry2" name="curry2" id="curry2" type="text" class="form-control" required>
            </div>
          </div>
        </div>
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="curry3">curry3</label>
            <div class="col-xs-10">
                <input #name="ngModel" [(ngModel)]="menu.curry3" name="curry3" id="curry3" type="text" class="form-control" required>
            </div>
          </div>
        </div>
        <button class="btn btn-outline-primary form-group col-md-3" [disabled]="!f.valid">Submit</button>
      </form>
      </div>
      </div>
